@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background: url(../assets/bac1.jpg) repeat ;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  margin-right: -3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  margin-right: -1.75rem;
  animation: moveInRight 1s ease-out;
}

.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 5rem;
  backface-visibility: hidden;
  z-index: 0;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}
.btn::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5rem;
  z-index: -1;
  transition: all 0.4s;
}
.btn:hover, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  outline: none;
}
.btn:hover::after, .btn:focus::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s backwards;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navigation__checkbox {
  display: none;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__nav {
  transform: translateX(0);
  visibility: initial;
  opacity: 1;
}
.navigation__button {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 12;
  text-align: center;
}
.navigation__background {
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 10;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 11;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-in, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
}
.navigation__item {
  margin: 1rem;
  
}
.navigation__link::before {
  
  padding-right: 1.2rem;
}
.navigation__link:link, .navigation__link:visited {
  display: none;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 49.9%, #fff 50%);
  background-size: 227%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  color: #55c57a;
  background-position: 100%;
  transform: translateX(1rem);
}

/*
login links css
*/
.navigation__link-login::before {
  
  padding-right: 1.2rem;
}
.navigation__link-login:link, .navigation__link-login:visited {
  display: none;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 49.9%, #fff 50%);
  background-size: 227%;
  transition: all 0.4s;
}
.navigation__link-login:hover, .navigation__link-login:active {
  color: #55c57a;
  background-position: 100%;
  transform: translateX(1rem);
}

/*logout link*/
.navigation__link-logout::before {

  padding-right: 1.2rem;
}
.navigation__link-logout:link, .navigation__link-logout:visited {
  display: none;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 49.9%, #fff 50%);
  background-size: 227%;
  transition: all 0.4s;
}
.navigation__link-logout:hover, .navigation__link-logout:active {
  color: #55c57a;
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__icon {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 0.5rem;
  top: 37%;
  transition: transform 0.25s ease-in-out;
}
.navigation__icon-span {
  position: absolute;
  height: 0.5rem;
  width: 50%;
  background: #777;
  transition: all 0.5s ease-in;
}
.navigation__icon-span:nth-child(even) {
  left: 50%;
  border-radius: 0 0.9rem 0.9rem 0;
}
.navigation__icon-span:nth-child(odd) {
  left: 0;
  border-radius: 0.9rem 0 0 0.9rem;
}
.navigation__icon-span:nth-child(1), .navigation__icon-span:nth-child(2) {
  transform: translateY(-1rem);
}
.navigation__icon-span:nth-child(5), .navigation__icon-span:nth-child(6) {
  transform: translateY(1rem);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(1), .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(6) {
  transform: rotate(45deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(2), .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(5) {
  transform: rotate(-45deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(2), .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(6) {
  transform-origin: left;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(1), .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(5) {
  transform-origin: right;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.navigation__button:hover .navigation__icon-span:nth-child(3) {
  transform: translateX(-0.3rem) scale(1.1);
}
.navigation__button:hover .navigation__icon-span:nth-child(4) {
  transform: translateX(0.3rem) scale(1.1);
}
.navigation__checkbox:checked + .navigation__button:hover .navigation__icon {
  transform: rotate(180deg);
}

.header {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  height: 70vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
        
        .row1 {margin: 0 auto;
        width:100%;}
        .row1:after {
          content: "";
          display: table;
          clear: both;
        }
        
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          padding: 16px;
          text-align: center;
          background-color: #bafcf8c9;
          height: 8cm;
        }
        .column {
          float: left;
          width: 100%;
          padding: 5 10px;
          padding-left: 3px;
          padding-right: 3px;
        }
        @media only screen and (min-width: 300px) {
          /* For tablets: */
          .column {width: 100%;}
        }
        @media only screen and (min-width: 768px) {
          /* For desktop: */
          .column {width: 50%;}
        }
        .card_text{
          text-align: center;
        }
.mySlides {display:ruby-base;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  shape-rendering: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 8s;
  animation-name: fade;
  animation-duration: 8s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1.5}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
        
